p, h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
body{background: #EBE7E7}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.active{
	background: green
}
.wrap{
	width: 80%;
	margin: 0 auto;
}
.search,.login{
	padding: 23% 0;
	position: relative;
}
.search input{
	width: 100%;
	padding: 10px;
}
.search span{
	padding: 3%;
	
	position: absolute;
	right: 0;
	bottom: 40%;
}
.search span:hover{
	cursor: pointer;
}
nav{
	background: #ccc;
	height: 46px;
}

nav ul li{
	padding: 1% 2%;
	border-right: 1px solid #000;
	float: left;
 	
}
nav ul li:hover{
	background: green;
	transition: all 1s;
}
nav ul li:hover a{
	color: white;
	text-decoration: none;
}
nav ul li a{color: white}
aside h4{
	padding: 5% 0;
	border-bottom: 2px solid red
}
aside ul li{
	padding: 2% 0;
	border-bottom: 1px solid #ccc
}
aside ul li a{
 color: #000;

}
.img-aside {
 	margin-top: 30px;
}
article h3{
	padding: 2% 0;
	border-bottom: 1px dotted #ccc;
}
.menu li{
	padding: 1% 2%;

}
.menu li:hover a{
	text-decoration: none;
}
.menu li:hover a h5{text-decoration: underline;}
.menu li img{
	margin-right: 1%;

}
.menu li a{color: #000}
.dsthanhvien h5, #addthanhvien h5{
	font-weight: bold;
	padding:5% 2%
}
#addthanhvien{display: none;}
footer{
	background: #000;
	height: 100px;
	line-height:  100px;
	color: #fff;
	
}
